

.jumbotron{
	background-color: red;
	color:white;
	
}
.h1{
	
	color: #343434;
	font-family: 'Comic Sans MS', sans-serif;   
	font-size: 36px;
	line-height: 42px;
	text-transform: uppercase;
	text-shadow: 0 3px grey, 0 4px #777;
}

.img{
	width: 200px;
    height: 200px;
    }

.img2{
	width: auto;
    height: 50%;

}
	

.cart{
	position:static;
	min-height:11rem;
	background:white;
	top:0;
	right:0;
	width:19rem;
	transition:all 0.3s ease-in-out;
	
	
}
.show-cart{
	transform:rotateY(-360deg);
	width:18rem;
	padding:2rem 1.5rem;
}

.cart-item-remove{
	color:red;
	transition:all is ease-in-out;
}
.cart-item{
	transition: all 2s ease-in-out;
}
.cart-item-remove:hover{
	transform: scale(1,1);
	color:black;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Georgia, Times, "Times New Roman", serif;
}
body{
	background: #E1585F ;
	margin:0 11px;
}
.payment{
	background:#E8D0D2;
	max-width:359px;
	margin:81px auto;
	height:auto;
	padding:36px;
	padding-top: 71px;
	border-radius: 6px;
	position: relative;
}
.payment h2{
	text-align: center;
	letter-spacing: 3px;
	margin-bottom: 41px;
	color:#CD1922;
}
.form .label{
	display:block;
	color:#555555;
	margin-bottom: 7px;

}
.form .input{
	padding: 14px 0 14px 26px;
	width: 100%;
	text-align:center;
	border:3px solid #dddddd ;
	border-radius: 6px;
	letter-spacing: 2px;
	word-wrap: 4px;
	outline: none;
	font-size: 17px;
	color:#555555;
}
.card-grp{
	display: flex;
	justify-content: space-between;
}
.card-item{
	width: 49%;
}

.space{
	margin-bottom: 21px;
}
.icon-relative{
	position: relative;

}
.icon-relative .fas, .icon-relative .far{
	position: absolute;
	bottom: 13px;
	left:16px;
	font-size: 21px;
	color: #555555
}
.btn{
	margin-top: 41px;
	background:red;
	padding:13px;
	text-align: center;
	color:white;
	border-radius: 6px;
	cursor: pointer;
}